<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace: SQL태그 id를 그룹화하기 위한 속성 -->
<mapper namespace="MemberMapper">

  
  
	<insert id ="insertMember" parameterType ="com.smhrd.domain.KilllogramVO">
		insert into user_info values (#{id},#{password},#{name},#{nick})
	
	</insert>

  	<select id ="selectMember" parameterType ="com.smhrd.domain.KilllogramVO"
		resultType="com.smhrd.domain.KilllogramVO">
		select * from user_info where user_id=#{id} and user_pw=#{password}	
	</select>
	
		<update id="updateMember" parameterType="com.smhrd.domain.KilllogramVO">
	update user_info set user_nick =#{nick}, user_pw=#{password}
	where user_id =#{id}
	</update>

	
	
</mapper>