<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace: SQL태그 id를 그룹화하기 위한 속성 -->
<mapper namespace="MemberMapper">
	<!-- SQL 태그의 id : 중복 불가, 해당태그의 고유한 식별자 -->
	<!-- SQL문에 세미콜론 적지 않을것~
		 바인드변수 ?와 같은 역할로 #{컬럼명} #{객체의 필드명}
		 다른 태그를 실행하더라도 오류가 있는 태그를 써두면 오류남 -->
  
  
	<insert id ="insertMember" parameterType ="com.smhrd.domain.Killlogram_member">
		insert into user_info values (#{id},#{password},#{name},#{nick})
	
	</insert>

	<select id ="selectMember" parameterType ="com.smhrd.domain.Killlogram_member"
		resultType="com.smhrd.domain.Killlogram_member">
		select * from user_info where user_id=#{id} and user_pw=#{password}	
	</select>
	
		<update id="updateMember" parameterType="com.smhrd.domain.Killlogram_member">
	update user_info set user_nick =#{nick}, user_pw=#{password}
	where user_id =#{id}
	</update>

	
	
</mapper>