<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace: SQL태그 id를 그룹화하기 위한 속성 -->
<mapper namespace="MemberMapper">
	<!-- SQL 태그의 id : 중복 불가, 해당태그의 고유한 식별자 -->
	<!-- SQL문에 세미콜론 적지 않을것~
		 바인드변수 ?와 같은 역할로 #{컬럼명} #{객체의 필드명}
		 다른 태그를 실행하더라도 오류가 있는 태그를 써두면 오류남 -->
  
  

</mapper>