<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterCon</servlet-name>
  	<display-name>RegisterCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.RegisterCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginCon</servlet-name>
  	<display-name>loginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.loginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostCon</servlet-name>
  	<display-name>PostCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PostCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentCon</servlet-name>
  	<display-name>CommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveCon</servlet-name>
  	<display-name>SaveCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.SaveCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchCon</servlet-name>
  	<display-name>SearchCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.SearchCon</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>LikeCon</servlet-name>
  	<display-name>LikeCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LikeCon</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>DeleteMyNutri</servlet-name>
   	<display-name>DeleteMyNutri</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.DeleteMyNutri</servlet-class>
   </servlet>
  

  <servlet-mapping>
  	<servlet-name>RegisterCon</servlet-name>
  	<url-pattern>/RegisterCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginCon</servlet-name>
  	<url-pattern>/loginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostCon</servlet-name>
  	<url-pattern>/PostCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentCon</servlet-name>
  	<url-pattern>/CommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveCon</servlet-name>
  	<url-pattern>/SaveCon</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  	<servlet-name>SearchCon</servlet-name>
  	<url-pattern>/SearchCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LikeCon</servlet-name>
  	<url-pattern>/LikeCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMyNutri</servlet-name>
  	<url-pattern>/DeleteMyNutri1</url-pattern>
  </servlet-mapping>

</web-app>
